.post-hedding {
  font-family: Metropolis;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}
.small-text-post {
  font-family: Metropolis;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(101, 101, 101);
}
.btn-post-start {
  border-radius: 20px;
  border: 2px solid #722ed1;
  padding: 6px 30px;
  background-color: #722ed1;
  color: white;
}
.btn-post-trial {
  border-radius: 20px;
  border: 2px solid white;
  padding: 6px 50px;
  background-color: white;
  color: #722ed1;
}
.btn-post-version {
  border-radius: 20px;
  border: none;
  padding: 6px 30px;
  background-color: #722ed10c;
  color: #722ed1;
}
.pad {
  padding: 200px;
}
.text-div {
  width: 400px;
}
.nav-index {
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .pad {
    padding: 0px;
  }
  .btn-post-version {
    border-radius: 20px;
    border: none;
    padding: 6px 30px;
    background-color: #722ed10c;
    color: #722ed1;
    text-align: center;
    margin: 10px auto;
  }
}
