.App {
  text-align: center;
}

.section-bg {
  padding: 120px 0;
  color: #fff;
}
.section-bg:before {
  content: "";
  background: linear-gradient(180deg, #FFFFFF 0%, #E2F1FF 100%);
  position: absolute;
  bottom: 100px;
  top: -40px;
  left: 0;
  right: 0;
  transform: skewY(-3deg);
}

