.App {
  text-align: center;
}

.section-bg {
  padding: 20px 0;
  color: #fff;
}
.section-bg:before {
  content: "";
  /* height: fit-content; */
  background: linear-gradient(180deg, #ffffff 0%, #e2f1ff 100%);
  position: absolute;
  bottom: 100px;
  top: 120px;
  left: 0;
  right: 0;
  transform: skewY(-5deg);
  z-index: 1;
}

.sub-container-app {
  position: absolute;
  z-index: 3;
  margin-left: auto;
}

.tri {
  display: flex;
  justify-content: center;

  /* margin-left: auto !important;
  margin-right: auto !important; */
}
/* section {
  padding: 60px 0;
  overflow: hidden;
  position: relative;
  display: block;
} */

.container-poster2{
  margin-top: 200px;
  padding-top: 200px;
}
.text-post-2{
font-family: Metropolis;
font-size: 32px;
font-weight: bold;
line-height: 40px;
letter-spacing: 0em;


}
.light-text-p{
  
  /* border: 1px solid black; */
  margin: 20px auto;
  color:  rgba(137, 137, 162, 1);
  font-size: 16px;
  font-weight: 500;
}
.max-height-600{
  max-width: 600px;
}

.card-poster{
  margin-top: 600px;
  margin-bottom: 50px;
}



@media screen and (max-width: 768px) {
  .section-bg:before {
    content: "";
    /* height: fit-content; */
    background: linear-gradient(180deg, #ffffff 0%, #e2f1ff 100%);
    position: absolute;
    bottom: 100px;
    top: 120px;
    left: 0;
    right: 0;
    transform: skewY(-5deg);
    z-index: 1;
  }
}
